{% extends "base2.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block menu_block %}
{% endblock %}


{% block content %}

<div class="container-fluid">
    	<div class="row">
    		<div class="col-lg-1"></div>
    		<div class="col-lg-2">
    			<h3>Popüler</h3>
    			<ul class="nav nav-tabs">
    				<li role="presentation" class="active"><a href="#">gundem</a></li>
    			</ul>
    			<ul class="nav nav-pills nav-stacked">
    				<li>
    				<a href="#">lorem ipsum dolor sit amet, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor </a></li>
    				<li><a href="#">lorem ipsum dolor sit amet</a></li>
    				<li><a href="#">lorem ipsum dolor sit amet, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor sit</a></li>
    				<li><a href="#">lorem ipsum dolor </a></li>
    				<li><a href="#">lorem ipsum dolor </a></li>
    				<li><a href="#">lorem ipsum dolor sit amet</a></li>
    				<li><a href="#">lorem ipsum dolor </a></li>
    				<li><a href="#">lorem ipsum dolor sit amet, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor sit amet, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor sit</a></li>
    				<li><a href="#">lorem ipsum dolor sit </a></li>
    				<li><a href="#">lorem ipsum dolor sit, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor sit consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor sit amet, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor</a></li>
    				<li><a href="#">lorem ipsum dolor </a></li>
    				<li><a href="#">lorem ipsum dolor sit amet, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor sit consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor sit amet, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor </a></li>
    				<li><a href="#">lorem ipsum dolor sit amet</a></li>
    				<li><a href="#">lorem ipsum dolor sit amet, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor sit</a></li>
    				<li><a href="#">lorem ipsum dolor </a></li>
    				<li><a href="#">lorem ipsum dolor </a></li>
    				<li><a href="#">lorem ipsum dolor sit amet</a></li>
    				<li><a href="#">lorem ipsum dolor </a></li>
    				<li><a href="#">lorem ipsum dolor sit amet, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor sit amet, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor sit</a></li>
    				<li><a href="#">lorem ipsum dolor sit </a></li>
    				<li><a href="#">lorem ipsum dolor sit, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor sit consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor sit amet, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor</a></li>
    				<li><a href="#">lorem ipsum dolor </a></li>
    				<li><a href="#">lorem ipsum dolor sit amet, consectetur</a></li>
    				<li><a href="#">lorem ipsum dolor sit consectetur</a></li>
    			</ul>
    		</div>
    		<div class="col-lg-7">
    			<div class="baslik">
                    <div class="sayfaDugmeleri">
                        <button class="btn"><<</button>
                        <select name="" id="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                        </select>
                        /
                        <button class="btn">4</button>
                        <button class="btn">>></button>
                    </div>
    				<h3><a href="gundem1.html">Gündemdeki olay başlığı 1</a></h3>
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex accusamus harum repellendus sequi eligendi alias, aliquam possimus consequatur, quidem obcaecati cum ducimus, cumque tempore adipisci libero dignissimos et odio. Unde.</p>
    				<div class="ikonNick">
    				<i class="fa fa-angle-up fa-2x"></i>
    				<i class="fa fa-angle-down fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-tint fa-1x"></i>
    				<p class="pull-right">07.08.2016 11:01
						<a href="#">nickname</a>
						<a href="#">...</a>
					</p>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex accusamus harum repellendus sequi eligendi alias, aliquam possimus consequatur, quidem obcaecati cum ducimus, cumque tempore adipisci libero dignissimos et odio. Unde.</p>
    				<div class="ikonNick">
    				<i class="fa fa-angle-up fa-2x"></i>
    				<i class="fa fa-angle-down fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-tint fa-1x"></i>
    				<p class="pull-right">07.08.2016 11:01
						<a href="#">nickname</a>
						<a href="#">...</a>
					</p>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex accusamus harum repellendus sequi eligendi alias, aliquam possimus consequatur, quidem obcaecati cum ducimus, cumque tempore adipisci libero dignissimos et odio. Unde.</p>
    				<div class="ikonNick">
    				<i class="fa fa-angle-up fa-2x"></i>
    				<i class="fa fa-angle-down fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-tint fa-1x"></i>
    				<p class="pull-right">07.08.2016 11:01
						<a href="#">nickname</a>
						<a href="#">...</a>
					</p>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex accusamus harum repellendus sequi eligendi alias, aliquam possimus consequatur, quidem obcaecati cum ducimus, cumque tempore adipisci libero dignissimos et odio. Unde.</p>
    				<div class="ikonNick">
    				<i class="fa fa-angle-up fa-2x"></i>
    				<i class="fa fa-angle-down fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-tint fa-1x"></i>
    				<p class="pull-right">07.08.2016 11:01
						<a href="#">nickname</a>
						<a href="#">...</a>
					</p>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex accusamus harum repellendus sequi eligendi alias, aliquam possimus consequatur, quidem obcaecati cum ducimus, cumque tempore adipisci libero dignissimos et odio. Unde.</p>
    				<div class="ikonNick">
    				<i class="fa fa-angle-up fa-2x"></i>
    				<i class="fa fa-angle-down fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-tint fa-1x"></i>
    				<p class="pull-right">07.08.2016 11:01
						<a href="#">nickname</a>
						<a href="#">...</a>
					</p>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex accusamus harum repellendus sequi eligendi alias, aliquam possimus consequatur, quidem obcaecati cum ducimus, cumque tempore adipisci libero dignissimos et odio. Unde.</p>
    				<div class="ikonNick">
    				<i class="fa fa-angle-up fa-2x"></i>
    				<i class="fa fa-angle-down fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-tint fa-1x"></i>
    				<p class="pull-right">07.08.2016 11:01
						<a href="#">nickname</a>
						<a href="#">...</a>
					</p>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex accusamus harum repellendus sequi eligendi alias, aliquam possimus consequatur, quidem obcaecati cum ducimus, cumque tempore adipisci libero dignissimos et odio. Unde.</p>
    				<div class="ikonNick">
    				<i class="fa fa-angle-up fa-2x"></i>
    				<i class="fa fa-angle-down fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-tint fa-1x"></i>
    				<p class="pull-right">07.08.2016 11:01
						<a href="#">nickname</a>
						<a href="#">...</a>
					</p>
					</div>

                    <div class="sayfaDugmeleri2">
                        <button class="btn"><<</button>
                        <select name="" id="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                        </select>
                        /
                        <button class="btn">4</button>
                        <button class="btn">>></button>
                    </div>

                    <div class="form-group">
                      <textarea class="form-control" rows="5" id="comment" placeholder="konu hakkında bilgi verin"></textarea><br>
                      <button class="btn btn-success">gönder</button>
                    </div>

					<hr>
					<ul class="nav nav-pills altMenu">
						<li><a href="#">iletişim</a></li>
						<li><a href="#">kullanım koşulları</a></li>
						<li><a href="#">sss</a></li>
						<li><a href="#">istatistikler</a></li>
						<li><a href="#">modlog</a></li>
						<li><a href="#">sub-etha</a></li>
						<li><a href="#">twitter</a></li>
						<li><a href="#">facebook</a></li>
						<li><a href="#">google+</a></li>
					</ul>
    			</div>

    		</div>
            <div class="col-lg-2">
                <div class="well">
                    <h3>başlığın kanalları</h3>
                    <a href="#" class="tagEksiSozluk">#ekşi-sözlük</a>
                    <a href="#" class="tagEksiSozluk">#sanat</a>
                    <a href="#" class="tagOner"> öner...</a>
                </div>
                <div class="wellAlt">
                    <ul class="nav nav-pills">
                        <li><a href="#">#sanat</a></li>
                        <li><a href="#">#edebiyat</a></li>
                        <li><a href="#">#siyaset</a></li>
                        <li><a href="#">#havacılık</a></li>
                        <li><a href="#">#sinema</a></li>
                        <li><a href="#">#müzik</a></li>
                        <li><a href="#">#yeme-içme</a></li>
                        <li><a href="#">#teknoloji</a></li>
                        <li><a href="#">#tarih</a></li>
                        <li><a href="#">#sağlık</a></li>
                        <li><a href="#">#oyun</a></li>
                        <li><a href="#">#programlama</a></li>
                        <li><a href="#">#otomotiv</a></li>
                        <li><a href="#">#motosiklet</a></li>
                        <li><a href="#">#moda</a></li>
                        <li><a href="#">#haber</a></li>
                        <li><a href="#">#ekonomi</a></li>
                    </ul><br>
                    <a href="#">yapılmış öneriler</a>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block script_block %}{% endblock %}
